*{
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: url(Images/61bf9399-ba7f-414f-9c35-2c06f4d2c06b.jpg) no-repeat center center;
  background-size: cover; 
}


h1 {
  font-size: 5em;
  margin-bottom: 20px;
  font-family: Bubble;
  color: tomato;
}

#canvas {
  border: 2px solid tomato;
  border-radius: 25px;
  display: block;
  margin: 0 auto;
}

button {
  font-size: 1em;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
}

button:active {
  transform: scale(0.98);
}

p {
  font-size: 1.2em;
}

#score,
#level,
#highScore {
  font-weight: bold;
}

@font-face {
  font-family: Bubble;
  src: url(Font/Game\ Bubble.ttf);
}
